@-webkit-keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}
@-o-keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}
@-moz-keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}
@keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}

@-webkit-keyframes bounce {
    0%   { -webkit-transform: translate3d(0, -100%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
    35%  { -webkit-transform: translate3d(0, 3.25%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
    55%  { -webkit-transform: translate3d(0, -1.5%, 0) scale(1); -webkit-animation-timing-function:ease-out; }
    75%  { -webkit-transform: translate3d(0, 0.25%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
   	95% { -webkit-transform: translate3d(0, 0, 0) scale(1); -webkit-animation-timing-function:ease-outs; }
}