#contact, [data-id="contact"] {
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    opacity:0.01;
    padding-top:110px;
    border-bottom: none;
    pointer-events:none;
    background: #3682b9;
    z-index: 3;
    display:none;
    overflow:auto;
    -webkit-overflow-scrolling:touch;

    h1 {
      color:#fff;
      margin-bottom: 35px;
      &:before, &:after {
        display: none;
      }
    }

    .overlay-wrap {
      max-width: 460px;
      padding: 0 20px;
    }

    form {
      text-align: left;

      input {
        @include border-radius(0);
        &::-webkit-input-placeholder {
           color: rgba(230,230,230,0.7);
        }
        &:-moz-placeholder { /* Firefox 18- */
           color: rgba(230,230,230,0.7);
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           color: rgba(230,230,230,0.7);
        }
        &:-ms-input-placeholder {
           color: rgba(230,230,230,0.7);
        }
      }

      input[type="text"], input[type="email"] {
        position: relative;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 6px 10px 2px;
        border: 0;
        border-bottom: 1px solid white;
        width: 55%;
        font-size: 30px;
        background: none;
        color: white;
        @include box-sizing(border-box);
        margin-bottom: 4px;

        &:first-of-type {
          border-right: 1px solid white;
          padding-left: 0;
          width: 45%;
        }
        &:focus {
          outline: none;
        }
      }
      label {
        float: left;
        display: inline-block;
        width: 55%;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        &:first-of-type {
          width: 45%;
          padding-left: 0;
        }
        color: white;
        @include box-sizing(border-box);
      }
      input[type="email"] {
        width: 100%;
        padding-left: 0;
      }
      label[for="email"], label[for="message"], {
        padding-left: 0;
        margin-bottom: 16px;
      }
      label[for="message"] {
        width: 100%;
      }
      textarea {
        @include border-radius(0);
        display: block;
        width: 100%;
        height: 160px;
        resize: none;
        background: #4A91C4;
        color: white;
        font-size: 24px;
        padding: 10px;
        line-height: 1.1;
        border: 0;
        border-bottom: 1px solid white;
        @include box-sizing(border-box);
        margin-bottom: 5px;

        &:focus {
          outline: none;
        }
      }
      button.submit {
        float: right;
        border: 0;
        background: white;
        margin-top: 13px;
        padding: 10px 30px;
        color: #EF7053;
        cursor:pointer;
        @include border-radius(4px);
      }
    }

    @media screen and (max-width: 800px) {
      h1 {
        padding:0 50px;
      }
      @media screen and (max-width: 400px) {
        form {
          input[type="text"], input[type="email"] {
            font-size:24px;
          }
          textarea {
            font-size:18px;
          }
        }
      }
    }

    //@media screen and (min-width: 801px) {
      @include transform(translateZ(0) scale(1));
      @include backface-visibility(hidden);
      @include perspective(1000);
    //}

    .close-overlay {
    	top:-35px;
      right: -24px;

      @media screen and (max-width: 555px) {
        right: 24px;
      }
    }
  }

  &.loaded {
    #contact, [data-id="contact"]  {
      display:block;
    }
  }

  &.contact {
    @media screen and (max-width: 800px) {
     // z-index: 2;
    }
    #contact, [data-id="contact"]  {
      //@media screen and (min-width: 801px) {
        -webkit-animation: bounce 0.8s;
        -moz-animation: bounce 0.8s;
        animation: bounce 0.8s;
      //}

      pointer-events:auto;
      opacity:0.9;
    }
  }

  &.contact-hide {
  	#contact, [data-id="contact"]  {
	  	opacity:0.01;
	  	@include transition(opacity 0.3s linear);
	}
  }
