#contact, [data-id="contact"] {
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    opacity:0.01;
    padding-top:150px;
    border-bottom: none;
    pointer-events:none;
    background: #3682b9;
    z-index: 3;
    display:none;

    h1 {
      color:#fff;
    }

    @media screen and (max-width: 720px) {
      h1 {
        padding:0 50px;
        &:before, &:after {
          display:block;
        }
      }
    }

    //@media screen and (min-width: 721px) {
      @include transform(translateZ(0) scale(1));
      @include backface-visibility(hidden);
      @include perspective(1000);
    //}

    .close-overlay {
    	top:-50px;
    }
  }

  &.loaded {
    #contact, [data-id="contact"]  {
      display:block;
    }
  }

  &.contact {
    @media screen and (max-width: 720px) {
     // z-index: 2;
    }
    #contact, [data-id="contact"]  {
      @media screen and (min-width: 721px) {
        -webkit-animation: bounce 0.8s;
        -moz-animation: bounce 0.8s;
        animation: bounce 0.8s;
      }
      pointer-events:auto;
      opacity:0.87;
    }
  }

  &.contact-hide {
  	#contact, [data-id="contact"]  {
	  	opacity:0.01;
	  	@include transition(opacity 0.3s linear);
	}
  }