#home, [data-id="home"] {
  min-height:100%;
  background: #3682b9;
  position:static;
  text-align: left;

  h1 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 195px;
    height: 31px;
    font-size: 0 !important;
    background-image: url("../img/DO_Logo.svg");
    background-size: 195px 31px;
    background-repeat: no-repeat;
    padding:0;
    margin-top: 6px;
    left: 50%;
    margin-left: -500px;
    &:before, &:after {
      display: none;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 20px;
      position: static;
    }
  }

  h2, h3 {
    width:100%;
    position: absolute;
    top:50%;
    white-space:nowrap;
    overflow: hidden;
    text-align: center;
  }

  h2 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    z-index: 1;
    margin-top:12px;
    width:100%;

    span {
      opacity: 0.01;
      display:inline-block;
      @include backface-visibility(hidden);
      @include perspective(1000);
    }

    &.animate {
      span {
        opacity: 0.99;
        @include transform (translate3d(-0.5px, 0, 0) scale(1) !important);
        @for $i from 1 through 16 {
          &:nth-child(#{$i}) {
            @include transition(transform 0.55s ease-out (0.085s * $i), opacity 1s linear (0.085s * $i));
          }
        }
      }
    }
  }

  h3 {
    font-family: "Lato", "Helvetica", arial, sans-serif;
    font-weight: 100;
    font-size: 130px;
    margin-top:-65px;
    color: #2BA4FC;
  }

  @media screen and (max-width: 800px) {
    h3 {
      font-size:80px;
      margin-top:-40px;
    }
    h2 {
      font-size:24px;
      margin-top:6px;
    }
  }

  @media screen and (max-width: 400px) {
    h3 {
      font-size: 60px;
      margin-top: -26px;
    }
    h2 {
      font-size:19px;
    }
  }
}
