#home, [data-id="home"] {
  min-height:100%;
  background: #3682b9;
  padding-top: 30px;
  position:static;
  text-align: left;

  h2, h3 {
    width:100%;
    position: absolute;
    top:50%;
    white-space:nowrap;
    overflow: hidden;
    text-align: center;
  }

  h2 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    z-index: 1;
    margin-top:12px;
    width:100%;

    span {
      opacity: 0.01;
      display:inline-block;
      @include backface-visibility(hidden);
      @include perspective(1000);
    }

    &.animate {
      span {
        opacity: 0.99;
        @include transform (translate3d(-0.5px, 0, 0) scale(1) !important);
        @for $i from 1 through 16 {
          &:nth-child(#{$i}) {
            @include transition(transform 0.5s ease-out (0.065s * $i), opacity 1s linear (0.065s * $i));
          }
        }
      }
    }
  }

  h3 {
    font-family: "Lato", "Helvetica", arial, sans-serif;
    font-weight: 100;
    font-size: 130px;
    margin-top:-65px;
    color: #2BA4FC;
  }

  @media screen and (max-width: 720px) {
    h3 {
      font-size:80px;
      margin-top:-40px;
    }
    h2 {
      font-size:24px;
      margin-top:6px;
    }
  }

  @media screen and (max-width: 400px) {
    h3 {
      font-size: 60px;
      margin-top: -26px;
    }
    h2 {
      font-size:19px;
    }
  }
}