#wrap #home {
  background: #3A87BC;
  padding-top: 0;

  .header {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;

    h1 {
      display: inline-block;
      vertical-align: middle;
      width: 300px;
      height: 58px;
      font-size: 0 !important;
      background-image: url("../img/logo.png");
      background-size: 278px;
      background-position: 12px -17px;
      background-repeat: no-repeat;
      margin: 0 30px 0 0;
      &:before, &:after {
        display: none;
      }
    }
  }

  nav {
    display: inline-block;
    a {
      text-transform: capitalize;
      color: white;
      text-decoration: none;
      font-size: 14px;
      margin-right: 45px;
    }
  }

  h2 {
    position: relative;
    text-align: center;
    margin-top: 280px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    z-index: 1;
  }

  h3 {
    position: relative;
    font-family: "Lato", "Helvetica", arial, sans-serif;
    font-weight: 100;
    font-size: 130px;
    color: #2BA4FC;
    text-align: center;
    margin-top: -140px;
    margin-bottom: 0;
  }
}