#locations, [data-id="locations"] {
  background: #fff;
  h1 {
    color: #337eb3;

    &:before, &:after {
      background: #337eb3;
    }
  }

  .location-wrapper {
    position: relative;
    max-width: 1024px;
    margin: 0 auto 20px;
    font-size:0;
    left:0;
    @media screen and (max-width: 1100px) {
      @include perspective(1000);
      @include backface-visibility(hidden);
      @include transform(translateZ(0) scale(1));
      @include transition(transform 0.225s);
    }
  }
  .location-wrapper-outer {
    overflow: hidden;
    padding: 100px 0 0;
    margin-top: -100px;
  }

  .map {
    width: 100%;
  }

  .marker {
    position: absolute;
    width: 20px;
    height:30px;
    top: -30px;
    left: -10px;
    cursor:pointer;
    &.one {
      top: 31%;
      left: 16%;
    }
    &.two {
      top: 34%;
      left: 21%;
    }
    &.three {
      top: 60%;
      left: 38%;
    }
    &.four {
      top: 41%;
      left: 55%;
    }
  }

  .location-dialog {
    position: absolute;
    padding: 8px 30px 5px;
    background: #b5da9e;
    border-radius: 5px;
    width:140px;
    top:0;
    left:0;
    opacity:0.01;

    @include transition(transform 0.225s ease, opacity 0.225s linear);
    @include backface-visibility(hidden);
    @include perspective(1000);
    h2 {
      font-size: 18px;
      margin: 0 0 8px;
      color: #3586be;
    }

    p {
      margin: 0 0 7px;
      font-size: 13px;
    }
  }
}
