html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: "proxima-nova", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  &.resizing * {
    @include transition(none !important);
  }
}

#wrap {
  width:100%;
  height:100%;
  margin:0 auto;
  position:relative;

  section {
    min-height:100%;
    padding-top: 115px;
    position:relative;
    border-bottom: 2px solid white;
    text-align: center;

    @include box-sizing(border-box);

    h1 {
      position: relative;
      display: inline-block;
      font-family: 'Lato', arial, sans-serif;
      font-weight: 100;
      font-size: 40px;
      margin: 0 0 8px;
      overflow: hidden;
      max-width:100%;
      padding:0 50px;

      &:before, &:after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        margin-top: 3px;
      }
      &:before {
        left: -10px;
      }
      &:after {
        right: -10px;
      }
    }

    h1 + p {
      color: #4a4a4a;
      font-size: 16px;
      width: 100%;
      max-width: 800px;
      margin: 0 auto 45px;
      line-height:28px;
      padding: 0 10px;
      @include box-sizing(border-box);
    }

    @media screen and (max-width: 720px) {
      padding-top: 80px;
      h1 {
        font-size:35px;
        padding:0 10px;
        &:before, &:after {
          display:none;
        }
      }
    }

  }

  footer {
    background: #4A4A4A url("../img/cloud-footer.png") no-repeat 50% 50%;
    height: 200px;
  }

  #contact, [data-id="contact"] {
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    opacity:0.01;
    border-bottom: none;
    pointer-events:none;
    background: #3682b9;
    z-index: 3;
    display:none;

    @media screen and (max-width: 720px) {
      h1 {
        padding:0 50px;
        color:#fff;
        &:before, &:after {
          display:block;
        }
      }
    }

    @media screen and (min-width: 721px) {
      @include transform(translate3d(0) scale(1));
      @include backface-visibility(hidden);
      @include perspective(1000);
    }
  }

  &.loaded {
    #contact, [data-id="contact"]  {
      display:block;
    }
  }

  &.contact {
    @media screen and (max-width: 720px) {
      z-index: 2;
    }
    #contact, [data-id="contact"]  {
      @media screen and (min-width: 721px) {
        -webkit-animation: bounce 0.8s;
        -moz-animation: bounce 0.8s;
        animation: bounce 0.8s;
      }
      pointer-events:auto;
      opacity:0.8;
    }
  }
}

@media screen and (max-width: 720px) {
  #wrap, #nav {
    @include transform(translateZ(0) scale(1));
    @include backface-visibility(hidden);
    @include perspective(1000);
    @include transition(transform 0.325s ease);
  }
  body.menu {
    #nav {
      @include transform(translate3d(-250px,0,0) scale(1));
    }
    #wrap, .overlay {
      @include transform(translate3d(-250px,0,0) scale(1));
    }
    #wrap {
      pointer-events:none !important;
    }
  }
}