@-webkit-keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}
@-moz-keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}
@keyframes grow {
  from { transform: scale(0.5) }
  to { transform: scale(1) }
}

@-webkit-keyframes bounce {
    0%   { opacity:0.1; -webkit-transform: translate3d(0, -100%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
    35%  { opacity:0.99; -webkit-transform: translate3d(0, 2.5%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
    55%  { opacity:0.99; -webkit-transform: translate3d(0, -0.75%, 0) scale(1); -webkit-animation-timing-function:ease-out; }
    75%  { opacity:0.99; -webkit-transform: translate3d(0, 0.3%, 0) scale(1); -webkit-animation-timing-function:ease-in;  }
   	85% { opacity:0.99; -webkit-transform: translate3d(0, 0, 0) scale(1); -webkit-animation-timing-function:ease-out; }
    100% { opacity:0.99; -webkit-transform: translate3d(0, 0, 0) scale(1); -webkit-animation-timing-function:ease-out; }
}

@-moz-keyframes bounce {
    0%   { opacity:0.1; -moz-transform: translate3d(0, -100%, 0) scale(1); -moz-animation-timing-function:ease-in;  }
    35%  { opacity:0.99; -moz-transform: translate3d(0, 2.5%, 0) scale(1); -moz-animation-timing-function:ease-in;  }
    55%  { opacity:0.99; -moz-transform: translate3d(0, -0.75%, 0) scale(1); -moz-animation-timing-function:ease-out; }
    75%  { opacity:0.99; -moz-transform: translate3d(0, 0.3%, 0) scale(1); -moz-animation-timing-function:ease-in;  }
    85% { opacity:0.99; -moz-transform: translate3d(0, 0, 0) scale(1); -moz-animation-timing-function:ease-out; }
    100% { opacity:0.99; -moz-transform: translate3d(0, 0, 0) scale(1); -moz-animation-timing-function:ease-out; }
}

@keyframes bounce {
    0%   { opacity:0.1; transform: translate3d(0, -100%, 0) scale(1); animation-timing-function:ease-in;  }
    35%  { opacity:0.99; transform: translate3d(0, 2.5%, 0) scale(1); animation-timing-function:ease-in;  }
    55%  { opacity:0.99; transform: translate3d(0, -0.75%, 0) scale(1); animation-timing-function:ease-out; }
    75%  { opacity:0.99; transform: translate3d(0, 0.3%, 0) scale(1); animation-timing-function:ease-in;  }
    85% { opacity:0.99; transform: translate3d(0, 0, 0) scale(1); animation-timing-function:ease-out; }
    100% { opacity:0.99; transform: translate3d(0, 0, 0) scale(1); animation-timing-function:ease-out; }
}