a.next {
  position: absolute;
  bottom:-15px;
  left:50%;
  margin-left:-15px;
  width: 30px;
  height: 30px;
  @include border-radius(50%);
  background: white;
  z-index: 1;
  padding: 0;
  color:#fff;
  font-size: 0;
  display:inline-block;
  border:1px solid rgba(0,0,0,0.05);

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    display: block;
    width: 60px;
    height: 60px;
    background: white;
    opacity: 0.25;
    @include border-radius(50%);
    @include transform(scale(0.5));
    @include backface-visibility(hidden);
    @include perspective(1000);
  }

  &:hover {
    &:before {
      -webkit-animation: grow 0.5s alternate infinite;
      animation: grow 0.5s alternate infinite;
    }
    &:after {
      @include transform(translate3d(0,1px,0) scale(1) rotate(-45deg));
    }
  }

  &:active {
    color:#fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 8px;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #3A87BC;
    border-width: 0 0 2px 2px;
    @include box-sizing(border-box);
    @include backface-visibility(hidden);
    @include perspective(1000);
    @include transform(translate3d(0,0,0) scale(1) rotate(-45deg));
    @include transition(transform 0.275s);
    opacity:0.99;
  }

  &.dark {
    background: #4a4a4a;
    &:before {
      background: #4a4a4a;
    }
    &:after {
      border-color: white;
    }
  }
}