#nav {
	position:absolute;
	text-align:center;
	top:46px;
	width:100%;
	z-index:1;

	.open-menu {
	    height:37px;
	    width:42px;
	    border:none;
	    font-size:0;
	    display:none;
	    background: rgba(74,74,74,0.225) url("../img/hamburger.svg") no-repeat 50% 50%;
	    background-size:30px 30px;
	    padding:0;
	    position:absolute;
	    top:17px;
	    left:-60px;
	    outline: none !important;
	    cursor:pointer;
	    @include border-radius(4px);
	}

	a {
	  text-transform: capitalize;
	  color: white;
	  text-decoration: none;
	  font-size: 14px;
	  padding: 0 22px;
	  &:hover, &.selected {
	    text-decoration: underline;
	  }
	  &.home {
	    display:none;
	  }
	}
	@media screen and (max-width: 1160px) {
		padding-left:300px;
		text-align:left;
		width:auto;
	}

	@media screen and (max-width: 900px) {
		padding-left:225px;
		top:33px;
		a {
			padding:0 13px;
		}
	}

	@media screen and (max-width: 720px) {
		height:100%;
		border-bottom:80px solid #4A4A4A;
		text-align: left;
		position:fixed;
		z-index: 2;
		right:-251px;
		padding-left:0;
		top:0;
		width:250px;
		background:#4A4A4A;
		margin:0;

	    .open-menu {
	      display:block;
	    }

		a {
			display:block;
			height:49px;
			line-height:49px;
			border-bottom:1px solid #333;
			font-size:16px;
			background:#4A4A4A;
			position:relative;
			&.home {
				display:block;
			}
			&:hover, &.selected {
			    background:#fff;
			    color:#4A4A4A;
			    border-color:#4A4A4A;
			    text-decoration: none;
		  	}
		}
	}
}