#nav {
	position:fixed;
	text-align:center;
	top:0;
	height:76px;
	width:100%;
	z-index:2;
	background:#3682b9;
	@include transform(translateZ(0) scale(1));
	@include perspective(1000);
	@include backface-visibility(hidden);

	h1 {
		position:absolute;
		left: 50%;
		top: 26px;
		width: 195px;
		height: 31px;
    	margin-left: -500px;
		background: url("../img/DO_Logo.svg") no-repeat;
		background-size: 100%;
		cursor:pointer;
		font-size: 0;
		a {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			color:transparent;
		}

    @media screen and (max-width: 1036px) {
      left: 0;
      margin-left: 20px;
    }
	}

	.open-menu {
	    height:37px;
	    width:42px;
	    border:none;
	    font-size:0;
	    display:none;
	    background: url("../img/navicon.svg") no-repeat 50% 50%;
	    background-size:30px 24px;
	    padding:0;
	    position:absolute;
	    top:17px;
	    left:-60px;
	    outline: none !important;
	    cursor:pointer;
	}

	a {
	  text-transform: capitalize;
	  color: white;
	  text-decoration: none;
	  font-size: 14px;
	  display:inline-block;
	  padding: 37px 22px 0;
	  &:hover, &.selected {
	    text-decoration: underline;
	  }
	  &.home {
	    display:none;
	  }
	}
	@media screen and (max-width: 1024px) {
		padding-left: 225px;
    text-align:left;
	}

	@media screen and (max-width: 800px) {
		height:100%;
		border-bottom:80px solid #2E3335;
		text-align: left;
		position:fixed;
		z-index: 2;
		right:-250px;
		padding-left:0;
		top:0;
		width:250px;
		background: #2E3335;
		margin:0;
		a {
			padding:0 13px 0;
		}

    .open-menu {
      display:block;
    }

    h1 {
      display: none;
    }

		a {
			display:block;
			height:49px;
			line-height:49px;
      color: #e7e7e7;
			border-bottom:1px solid #414141;
      padding-left: 20px;
			font-size:16px;
			position:relative;
			&.home {
				display:block;
			}
			&:hover, &.selected {
			    color: #414141;
          background: white;
			    text-decoration: none;
		  	}
		}
	}
}
