.overlay {
	background:#EC7058;
	height:100%;
	width:100%;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	top:0;
	position:fixed;
	z-index:2;
	padding:120px 0 30px;
	@include box-sizing(border-box);
	@include backface-visibility(hidden);
	@include perspective(1000);
	@include transform(translateZ(0) scale(1));
	@include transition(opacity 0.7s linear, transform 0.3s ease);
	opacity:0.01;

	&.show {
		display:block;
		opacity:0.9;
		-webkit-animation: bounce 0.75s;
		-moz-animation: bounce 0.75s;
		animation: bounce 0.75s;
	}
	&.close {
		opacity:0.01;
	  @include transition(opacity 0.275s linear);
	}
	&.hide {
		display:none;
	}
	&.who {
		color:#fff;
		font-size:12px;
		img {
			position:absolute;
			left:50%;
			width:115px;
			height:115px;
			margin-left:-57px;
			top:10px;
			@include border-radius(115px);
		}
		h1, h3 {
			margin:0;
			text-align: center;
			font-weight: normal;
		}
		h1 {
			font-size:36px;
			padding-top:145px;
		}
		h3 {
			font-size:15px;
		}
		p {
			padding-top:25px;
			line-height:18px;
			max-width:450px;
			margin:0 auto;

			&:last-of-type {
				padding-bottom:25px;
				border-bottom:1px solid #fff;
			}
		}
		h4 {
			font-weight: bold;
			padding:25px 0 3px;
			margin:0 auto;
			display:block;
			max-width:450px;
			font-size:12px;
		}
		ul {
			margin:0 auto;
			list-style:none;
			padding:0 0 25px;
			margin:0 auto;
			max-width:450px;
		}
		a {
			color:#fff;
			line-height:18px;
		}
	}
}

.overlay-wrap {
	width:100%;
	height:100%;
	max-width:800px;
	margin:0 auto;
	position:relative;
	@include box-sizing(border-box);
	padding:0 10px;
}

.close-overlay {
 	height:28px;
 	width:28px;
 	border:2px solid #fff;
 	display:block;
 	position:absolute;
 	top:-30px;
 	right:22px;
	font-size:0;
 	@include border-radius(30px);
 	cursor:pointer;

 	&:before, &:after {
 		content:'';
 		position:absolute;
 		left:50%;
 		top:6px;
 		height:16px;
 		width:2px;
 		margin-left:-1px;
 		background:#fff;
 		@include transform(rotate(45deg));
 	}
 	&:after {
		@include transform(rotate(-45deg));
 	}
}
